@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zeyada&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif, cursive;
}

header {
  background-color: white;
}

nav {
  background-image: linear-gradient(to right, #f0f0d8, #fffaeb, #ffffff, #fffaeb, #f0f0d8);
}

.navbar-logo-lg {
  height: 50px;
  width: 100px;
}

.menu-hamburguesa {
  height: 35px;
  width: 35px;
}

.nav-item a {
  font-size: 1.2rem;
  margin: 0 0.5rem;
}

.nav-logo-central {
  height: 100px;
  width: 200px;
}

.div-destacados {
  margin: 1rem 0;
  row-gap: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.card-card {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  height: 100%;
}

.card-card div:last-child {
  background-image: linear-gradient(to right, #fffaeb, #ffffff);
}

.card-imagen-serv {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card-body h3 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0.5;
}

.card-body p {
  text-align: justify;
  margin-top: 0.3rem;
  padding: 0 1rem;
}

.div-cabanias {
  margin: 1rem 0;
  row-gap: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.card-card-cab {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  height: 100%;
}

.card-card-cab div:last-child {
  background-image: linear-gradient(to right, #fffaeb, #ffffff);
}

.section-cabanias article {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: none;
}

.carousel-item img {
  height: 300px;
  width: 100%;
}

.card-caracteristica {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
  flex-wrap: wrap;
}

.card-caracteristica div {
  height: 1.5rem;
  width: 45%;
  margin: 0.5rem;
}

.card-caracteristica img {
  height: 1rem;
  width: 1rem;
}

.card-ubicacion-texto {
  background-image: linear-gradient(to right, #fffaeb, #ffffff);
}

.card-ubicacion-texto ul {
  list-style-type: none;
  margin-top: 1rem;
  padding-left: 2rem;
}

.card-ubicacion-texto ul li {
  padding-left: 2rem;
  background-image: url(../assets/icons/distancia32.png);
  background-position: 0 0;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  line-height: 1.3rem;
  font-size: 1rem;
  margin: 1rem 0;
}

.card-ubicacion-texto h4 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.card-ubicacion-texto h6 {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.div-col-img {
  width: 30%;
}

.div-col-img img {
  object-fit: fill;
  height: 100%;
  width: 100%;
}

.section-visitas {
  margin: 1rem 0;
}

.div-img-visitas {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: none;
  height: 300px;
}

.card-img-top {
  height: 300px;
  object-fit: cover;
}

.div-items {
  justify-content: space-around;
}

.card-body-fondo {
  margin: 1rem;
  background-image: linear-gradient(to right, #fffaeb, #ffffff);
}

.div-card-titulo {
  margin: 1rem 0 0 0;
}

.div-card-titulo h3 {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 0;
}

.carousel-img {
  margin: 0.5rem 0;
  height: 300px;
  width: 100%;
}

.carousel-img img {
  height: 300px;
  width: 100%;
}

.item-texto h5 {
  text-align: center;
}

.item-texto p {
  text-align: justify;
}

.carousel-control-next,
.carousel-control-prev {
  bottom: 40%;
}

.card-contacto {
  padding: 1.5rem;
}

.div-contacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: none;
  flex-wrap: wrap;
  background-image: linear-gradient(to right, #fffaeb, #ffffff);
}

.div-contacto article {
  margin-bottom: 1rem;
  border: 1px solid black;
}

.div-contacto-texto {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  height: 20%;
}

.div-contacto-texto h4 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.div-contacto-texto h6 {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: none;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.div-contacto-mapa {
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none;
}

.div-contacto-mapa iframe {
  height: 100%;
  width: 100%;
}

.form-contacto {
  padding: 1rem;
}

.form-contacto div {
  margin-bottom: 0.8rem;
}

.form-contacto button {
  background-color: rgb(86, 201, 33);
}

.form-contacto button:hover {
  background-color: rgb(121, 240, 66);
}

.div-personas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
}

.div-personas div {
  width: 45%;
}

.div-fechas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
}

.div-fechas div {
  width: 45%;
}

.img-central {
  object-fit: cover;
  height: 700px;
  width: 100%;
}

.nombre-centro {
  text-align: center;
  font-family: Architects Daughter, cursive;
  font-size: 4rem;
  background-image: linear-gradient(to right, rgb(203, 206, 204), rgb(203, 206, 204), yellow, rgb(177, 245, 50), rgb(177, 245, 50));
}

.figure-img-central {
  margin-bottom: 0;
}

.section-servicios {
  margin-top: 1rem;
}

.article-servicios {
  justify-content: center;
}

.article-servicios div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none;
}

.article-servicios div h3 {
  text-align: center;
  padding-top: 2rem;
  font-size: 2rem;
}

.servicios-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 30px;
  justify-content: end;
}

.servicios-texto {
  text-align: justify;
  margin-top: 1rem;
  padding: 0 2rem;
  font-size: 1.2rem;
}

.servicios-items {
  list-style-type: none;
  margin-top: 1.5rem;
  padding-left: 2rem;
}

.servicios-items li {
  display: inline-flex;
  gap: 0.5rem;
  width: 100%;
}

.servicios-ico {
  height: 1rem;
  width: 1rem;
}

.article-donde-mapa {
  height: 400px;
}

.article-donde-mapa iframe {
  height: 100%;
  width: 100%;
  padding-top: 0.5rem;
}

.section-galeria {
  margin: 0.5rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 200px);
  grid-template-areas: "fig1 fig2 fig2 fig3" "fig1 fig4 fig5 fig3" "fig6 fig7 fig5 fig8" "fig9 fig9 fig10 fig8";
}

.section-galeria figure {
  height: 100%;
  width: 100%;
}

.section-galeria figure img {
  object-fit: fill;
  height: 100%;
  width: 100%;
}

.galeria-figura1 {
  grid-area: fig1;
}

.galeria-figura2 {
  grid-area: fig2;
}

.galeria-figura3 {
  grid-area: fig3;
}

.galeria-figura4 {
  grid-area: fig4;
}

.galeria-figura5 {
  grid-area: fig5;
}

.galeria-figura6 {
  grid-area: fig6;
}

.galeria-figura7 {
  grid-area: fig7;
}

.galeria-figura8 {
  grid-area: fig8;
}

.galeria-figura9 {
  grid-area: fig9;
}

.galeria-figura10 {
  grid-area: fig10;
}

.acordeon-preguntas {
  --bs-accordion-btn-bg: #cdeadc;
  --bs-accordion-active-bg: #adeada;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-bg: #ddeadd;
}

.accordion-button::after {
  background-image: url(../assets/icons/add32.png);
  transition: all 0.5s;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../assets/icons/menos48.png);
}

footer {
  height: 200px;
  margin-top: 1rem;
  background-image: linear-gradient(to right, #f0f0d8, #fffaeb, #ffffff, #fffaeb, #f0f0d8);
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  padding: 1rem;
}

.footer-left div h3 {
  margin: 0.5rem 0;
  font-family: Architects Daughter, cursive;
  font-size: 1.7rem;
}

.footer-center {
  height: 200px;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: none;
}

.footer-logo {
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: none;
  height: 130px;
}

.footer-logo img {
  height: 100%;
  width: 50%;
}

.footer-div-redes {
  height: 50px;
  width: 95%;
  margin: 0 1rem;
  display: inline-flex;
  flex-direction: none;
  justify-content: center;
  align-items: start;
  gap: 2rem;
}

.footer-div-redes img {
  height: 2.5rem;
  width: 2.5rem;
}

.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none;
  padding: 1rem;
}

.footer-right form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-right form button {
  background-color: rgb(86, 201, 33);
}

.footer-right form button:hover {
  background-color: rgb(121, 240, 66);
}

@media (max-width: 480px) {
  nav {
    background-image: linear-gradient(to right, #ffffff, #ffffff, #fffaeb, #f0f0d8, #fffaeb);
  }

  .nav-item a {
    font-size: 1rem;
    margin: 0 0.4rem;
  }

  .img-central {
    height: 400px;
  }

  .nombre-centro {
    font-size: 2rem;
  }

  .section-servicios {
    margin-top: 0.5rem;
  }

  .article-servicios div {
    display: inline-block;
    flex-direction: none;
    justify-content: center;
    align-items: none;
  }

  .article-servicios div h3 {
    padding-top: 1rem;
    font-size: 1.2rem;
  }

  .servicios-img {
    border-radius: 20px;
  }

  .servicios-texto {
    margin-top: 0.5rem;
    padding: 0 1rem;
    font-size: 1rem;
  }

  .servicios-items {
    margin-top: 1.3rem;
    padding-left: 1rem;
  }

  .carousel-item img {
    height: 200px;
  }

  .card-caracteristica div {
    height: 1rem;
    width: 46%;
    margin: 1rem 0;
  }

  .section-visitas {
    margin: 0.5rem 0;
  }

  .div-img-visitas {
    height: 200px;
  }

  .card-img-top {
    height: 200px;
  }

  .card-body-fondo {
    margin-top: 0.5rem;
  }

  .div-card-titulo {
    margin: 0.5rem 0 0 0;
  }

  .carousel-img {
    height: 200px;
  }

  .carousel-img img {
    height: 200px;
  }

  .section-galeria {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 150px);
    grid-template-areas: "fig1 fig2 fig2" "fig3 fig4 fig5" "fig3 fig7 fig6" "fig8 fig8 fig6" "fig10 fig9 fig9";
  }

  footer {
    background-image: linear-gradient(to right, #f0f0d8, #fffaeb, #ffffff, #ffffff, #fffaeb, #f0f0d8);
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  nav {
    background-image: linear-gradient(to right, #ffffff, #ffffff, #fffaeb, #f0f0d8, #fffaeb);
  }

  .nav-item a {
    font-size: 1.1rem;
    margin: 0 0.5rem;
  }

  .img-central {
    height: 500px;
  }

  .nombre-centro {
    font-size: 2.2rem;
  }

  .section-servicios {
    margin-top: 0.8rem;
  }

  .article-servicios div {
    display: inline-block;
    flex-direction: none;
    justify-content: center;
    align-items: none;
  }

  .article-servicios div h3 {
    padding-top: 1rem;
    font-size: 1.3rem;
  }

  .servicios-img {
    border-radius: 25px;
  }

  .servicios-texto {
    margin-top: 0.8rem;
    padding: 0 1rem;
    font-size: 1.1rem;
  }

  .servicios-items {
    margin-top: 1.3rem;
    padding-left: 1rem;
  }

  .carousel-item img {
    height: 220px;
  }

  .card-caracteristica div {
    height: 1.2rem;
    width: 40%;
    margin: 1.1rem 0;
  }

  .section-visitas {
    margin: 0.7rem 0;
  }

  .div-img-visitas {
    height: 230px;
  }

  .card-img-top {
    height: 230px;
  }

  .card-body-fondo {
    margin-top: 0.7rem;
  }

  .div-card-titulo {
    margin: 0.7rem 0 0 0;
  }

  .carousel-img {
    height: 230px;
  }

  .carousel-img img {
    height: 230px;
  }

  .section-galeria {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 180px);
    grid-template-areas: "fig1 fig2 fig2" "fig3 fig4 fig5" "fig3 fig7 fig6" "fig8 fig8 fig6" "fig10 fig9 fig9";
  }

  footer {
    background-image: linear-gradient(to right, #f0f0d8, #fffaeb, #ffffff, #ffffff, #fffaeb, #f0f0d8);
  }

  .footer-logo img {
    height: 100%;
    width: 40%;
  }

  .footer-div-redes img {
    height: 2.6rem;
    width: 2.6rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  nav {
    background-image: linear-gradient(to right, #ffffff, #ffffff, #fffaeb, #f0f0d8, #fffaeb);
  }

  .navbar-logo-lg {
    height: 80px;
    width: 130px;
  }

  .nav-item a {
    font-size: 1.1rem;
    margin: 0 0.5rem;
  }

  .img-central {
    height: 550px;
  }

  .nombre-centro {
    font-size: 2.7rem;
  }

  .article-servicios div h3 {
    font-size: 1.5rem;
  }

  .servicios-img {
    border-radius: 25px;
  }

  .servicios-texto {
    font-size: 1.1rem;
  }

  .servicios-items {
    margin-top: 1.3rem;
    padding-left: 1rem;
  }

  .servicios-items li p {
    font-size: 1.1rem;
  }

  .servicios-ico {
    width: 1.2rem;
    height: 1.2rem;
  }

  .carousel-item img {
    height: 230px;
  }

  .card-caracteristica div {
    height: 1.2rem;
    width: 40%;
  }

  .div-img-visitas {
    height: 280px;
  }

  .card-img-top {
    height: 280px;
  }

  .carousel-img {
    height: 280px;
  }

  .carousel-img img {
    height: 280px;
  }

  .section-galeria {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 200px);
    grid-template-areas: "fig1 fig2 fig2" "fig3 fig4 fig5" "fig3 fig7 fig6" "fig8 fig8 fig6" "fig10 fig9 fig9";
  }

  footer {
    background-image: linear-gradient(to right, #f0f0d8, #fffaeb, #ffffff, #fffaeb, #f0f0d8);
  }

  .footer-left div h3 {
    font-size: 1.5rem;
  }

  .footer-left div p {
    font-size: 0.9rem;
    text-align: start;
  }

  .footer-logo img {
    height: 100%;
    width: 80%;
  }

  .footer-div-redes {
    width: 85%;
  }

  .footer-div-redes img {
    height: 2.6rem;
    width: 2.6rem;
  }

  .footer-right h4 {
    font-size: 1.4rem;
  }

  .footer-right form div {
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    align-items: start;
  }

  .footer-right form button {
    background-color: rgb(86, 201, 33);
  }

  .input-group>.form-control {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */