header {
    background-color: $color_blanco;
}

nav {
    background-image: $fondo_nav_max;
}

.navbar-logo-lg {
    @include superficie(50px, 100px);
}

.menu-hamburguesa {
    @include superficie(35px, 35px);
}

.nav-item {
    a {
        font-size: 1.2rem;
        margin: 0 0.5rem;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: 0.1rem;
            width: 100%;
            background-color: black;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform 0.3s ease-in-out;
            transition-delay: 0.15s;
        }

        &:hover::after {
            transform-origin: left;
            transform: scaleX(1);
        }
    }
}

.nav-logo-central {
    @include superficie(100px, 200px);
}