//Imagen y nombre central
.img-central {
    object-fit: cover;
    @include superficie(700px, 100%);
}

.nombre-centro {
    text-align: center;
    font-family: Architects Daughter, cursive;
    font-size: 4rem;
    background-image: $fondo_nombre_central;
}

.figure-img-central {
    margin-bottom: 0;
}

//Servicios
.section-servicios {
    margin-top: 1rem;
}

.article-servicios {
    justify-content: center;

    div {
        @include box(flex, column, center, none);

        h3 {
            text-align: center;
            padding-top: 2rem;
            font-size: 2rem;
        }
    }
}

.servicios-img {
    object-fit: cover;
    @include superficie(100%, 100%);
    border-radius: 30px;
    justify-content: end;
}

.servicios-texto {
    text-align: justify;
    margin-top: 1rem;
    padding: 0 2rem;
    font-size: 1.2rem;
}

.servicios-items {
    list-style-type: none;
    margin-top: 1.5rem;
    padding-left: 2rem;

    li {
        display: inline-flex;
        gap: 0.5rem;
        width: 100%;
    }
}

.servicios-ico {
    @include superficie(1rem, 1rem);
}