$color_blanco: white;
$fondo_nav_max: linear-gradient(to right, #f0f0d8, #fffaeb, #ffffff, #fffaeb, #f0f0d8);
$fondo_nombre_central: linear-gradient(to right, rgb(203, 206, 204), rgb(203, 206, 204), yellow, rgb(177, 245, 50), rgb(177, 245, 50));
$fondo_cards: linear-gradient(to right, #fffaeb, #ffffff);
$fondo_footer: linear-gradient(to right, #f0f0d8, #fffaeb, #ffffff, #fffaeb, #f0f0d8);
$color_button: rgb(86, 201, 33);
$color_button_hover: rgb(121, 240, 66);
